{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Note' %} №{{ note.pk }}
{% endblock %}

{% block content %}
        {% if form.instance.pk %}
        <h1>{% trans 'Update note' %}</h1>
    {% else %}
        <h1>{% trans 'Create note' %}</h1>
    {% endif %}

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">{% trans 'Save' %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}